# Python virtual environments
venv/
ai_env/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Data / models
*.pkl

# Database
users.db

# Environment variables
.env

# Logs
*.log

# Node modules
node_modules/
frontend/node_modules/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
